@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background: whitesmoke;
}

button{
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: whitesmoke;
}

button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

button:active{
    background-color: rgba(0, 0, 0, 0.15);
}

.container{
  width: 1280px;
  margin: auto;
}

header{background-color: #fff;}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 20px;
  background: #fff;
}

#header button{
  font-family: inherit;
  border: 1px solid black;
}

#quiz_box{    
    width: 370px;
    margin:auto;
    padding: 20px;
    padding-top: 10px;
    margin-top: 10px;
    background: whitesmoke;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

#quiz_box textarea{
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightgray;
    resize: none;
    padding: 0.5rem
}

#question_header{
    display: flex;
    text-align: center;
    justify-content: center;
}

#answer_options{
    margin-top:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#answer_options button{
    width: 150px
}

#study_progress{
    padding-top: 1rem;
    width: 370px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arr{
    position: relative;
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 15px;
    transition: 0.4s ease;
}

.arr .arrow{
    position: absolute;
    height: 20px;
    width: 20px;
    border-top: 8px solid #202020;
    border-left: 8px solid #202020;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
}

.arr:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.arr:active{
    background-color: rgba(0, 0, 0, 0.15);
}

.left{
    transform: rotate(-90deg);
}

.right{
    transform: rotate(90deg);
}

.favorite{
    display: flex;
    justify-content: baseline;
}

#study_favorite_button {
    display: none
}

.fa.fa-star{
    color: #838383;
    cursor: pointer;
}

#study_favorite_button:checked + .fa.fa-star{
    color: #ffe400;
}

.finish_section
{
    display: flex;
    justify-content: center;
}

.finish_section button
{
    width: 150px;
}

@media(max-width:1280px){
  .container{width: 100%;}
}

@media(max-width:768px){
  .flashcard{margin: auto;}

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width:480px){
  #header{
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  #create_card{width: 95%;}

  .flashcard{width: 100%;}
}
