@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    background: whitesmoke;
}

header{background-color: #fff;}

button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: whitesmoke;
}
  
button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

button:active{
    background-color: rgba(0, 0, 0, 0.15);
}

.container{
    width: 1280px;
    margin: auto;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 20px;
  background: #fff;
}

#header button{
  font-family: inherit;
  border: 1px solid black;
}

table {
    margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
}

/* Make all columns take up equal horizontal space */
table tr td {
    width: 33.33%; /* Divide the width equally for 3 columns */
    text-align: center; /* Optional: Center align the content within cells */
    word-wrap: break-word; 
}

.row_divider{
    border-top: 2px solid #000000;
}